/**
 * h
 * -------------------------------------------------------------------------- */

.sn h1,
.sn h2,
.sn h3,
.sn h4,
.sn h5,
.sn h6 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
  outline: none;
  line-height: var(--md-text-height-mobile);
  font-size: 1em;
}

.sn h1 {
  font-size: 1.4em;
}

.sn h2 {
  font-size: 1.2em;
}

.sn h3 {
  font-size: 1.1em;
}

@media (min-width: 768px) {
  .sn h1,
  .sn h2,
  .sn h3,
  .sn h4,
  .sn h5,
  .sn h6 {
    line-height: var(--md-text-height);
  }

  .sn h1 {
    font-size: 1.6em;
  }

  .sn h2 {
    font-size: 1.4em;
  }

  .sn h3 {
    font-size: 1.2em;
  }
}

/**
 * p
 * -------------------------------------------------------------------------- */

.sn p {
  line-height: var(--md-text-height-mobile);
}

@media (min-width: 768px) {
  .sn p {
    line-height: var(--md-text-height);
  }
}

/**
 * not pre code
 * -------------------------------------------------------------------------- */

.sn :not(pre) > code {
  padding: 2px 4px;
  background-color: rgba(180, 160, 142, 0.13);
  border-radius: 4px;
}

/**
 * code block
 * -------------------------------------------------------------------------- */

.sn div[class*='language-'] {
  position: relative;
  width: calc(100vw - var(--sidebar-width) - var(--aside-width) - 80px - var(--content-wrapper-padding-left) - var(--content-wrapper-padding-right));
  border-radius: 8px;
  background-color: hsl(30, 20%, 25%);
  /* background-color: #48284A; */
  overflow-x: auto;
  margin-top: var(--md-text-height);
  margin-bottom: calc(var(--md-text-height) * 1);
  box-shadow: 0 3px 9px 0px rgba(0, 0, 0, 0.3);
}

.sn div[class*='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 0;
  background: transparent;
  /* overflow-x: auto; */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
}

.sn div[class*='language-'] code {
  display: block;
  padding: 0 24px;
  line-height: var(--md-text-height);
  width: fit-content;
  min-width: 100%;
  transition: color 0.5s;
}

.sn [class*='language-'] > button.copy {
  direction: ltr;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
  border: 1px solid #e2e2e3;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: #eee;
  opacity: 0;
  cursor: pointer;
  background-image: var(--icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

.sn [class*='language-']:hover > button.copy,
.vp-doc [class*='language-'] > button.copy:focus {
  opacity: 1;
}

.sn [class*='language-'] > button.copy:hover,
.sn [class*='language-'] > button.copy.copied {
  border-color: #ffeeee;
  background-color: #fff;
}

.sn [class*='language-'] > span.lang {
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: #ffeeee;
  transition: color 0.4s, opacity 0.4s;
}

.sn [class*='language-']:hover > button.copy + span.lang,
.sn [class*='language-'] > button.copy:focus + span.lang {
  opacity: 0;
}

.vp-code span {
  color: var(--shiki-dark);
}

@media (max-width: 768px) {
  .sn div[class*='language-'] {
    width: calc(100vw - var(--content-wrapper-padding-left) - var(--content-wrapper-padding-right));
    margin-top: var(--md-text-height-mobile);
    margin-bottom: var(--md-text-height-mobile);
  }
}

/**
 * table
 * -------------------------------------------------------------------------- */

.sn table {
  margin-top: var(--md-text-height);
  margin-bottom: calc(var(--md-text-height) * 1);
  border-collapse: collapse;
  overflow-x: auto;
  background: #fefcf7;
  box-shadow: 0 3px 9px 0px rgba(0, 0, 0, 0.3);
}

.sn th {
  text-align: left;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #f0ece2;
}

.sn th, td {
  border: 1px solid rgb(100, 86, 71);
  padding: 8px 16px;
}

@media (max-width: 768px) {
  .sn table {
    margin-top: var(--md-text-height-mobile);
    margin-bottom: calc(var(--md-text-height-mobile) * 1);
  }
}

/**
 * hr
 * -------------------------------------------------------------------------- */

.sn hr {
  display: none;
}

/**
 * ul 列表
 * -------------------------------------------------------------------------- */

.sn ul {
  padding-left: 30px;
  list-style: disc;
}

.sn ul li {
  line-height: var(--md-text-height);
}

@media (max-width: 768px) {
  .sn ul {
    padding-left: 15px;
  }

  .sn ul li {
    line-height: var(--md-text-height-mobile);
  }
}

/**
 * ol 列表
 * -------------------------------------------------------------------------- */

.sn ol {
  padding-left: 30px;
  list-style: decimal;
}

.sn ol li {
  line-height: var(--md-text-height);
}

@media (max-width: 768px) {
  .sn ol {
    padding-left: 15px;
  }

  .sn ol li {
    line-height: var(--md-text-height-mobile);
  }
}

/**
 * blockquote
 * -------------------------------------------------------------------------- */
.sn blockquote {
  margin-top: var(--md-text-height);
  margin-bottom: calc(var(--md-text-height) * 1);
  border-left: 2px solid rgb(100, 86, 71);
  padding-left: 16px;
}

@media (max-width: 768px) {
  .sn blockquote {
    margin-top: var(--md-text-height-mobile);
    margin-bottom: calc(var(--md-text-height-mobile) * 1);
  }
}

/**
 * a
 * -------------------------------------------------------------------------- */
.sn a {
  font-weight: 500;
  color: rgb(100, 86, 71);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color 0.25s, opacity 0.25s;
}

/**
 * img
 * -------------------------------------------------------------------------- */
.sn img {
  margin-top: var(--md-text-height);
  margin-bottom: calc(var(--md-text-height) * 1);
  border: 9px solid #fff;
  box-shadow: 0 3px 9px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .sn img {
    margin-top: var(--md-text-height-mobile);
    margin-bottom: calc(var(--md-text-height-mobile) * 1);
  }
}

/**
 * custom-block
 * -------------------------------------------------------------------------- */
.sn .custom-block {

}