:root {
  --font-family-base: 'Chinese Quotes', "PingFang SC", Helvetica, "Microsoft Yahei", ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

:root {
  --layout-zindex: 1;
  --layout-mask-zindex: 3;
}

/* text */
:root {
  --text-1: rgba(100, 86, 71, 1);
  --text-3: rgba(100, 86, 71, 0.8);
  --sidebar-date-text: #b9a691;
  --sidebar-title-text: #635753;
}

/* background color */
:root {
  --bg: #faf7ee;
  --content-bg: #FFFCF7;
  --backdrop-bg-color: rgba(0, 0, 0, 0.6);
  --sidebar-bg: #fbf7ed;
}

/* 滚动条 */
:root {
  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(100, 86, 71, 1);
  --scrollbar-border-radius: 9px;
}

/* header */
:root {
  --header-height: 6vh;
}

/* mardown 内容 */
:root {
  --md-text-height: 36px;
  --md-text-height-mobile: 33px;
  --header-anchor-symbol: '#';
}

/* sidebar */
:root {
  --sidebar-width: 272px;
  --sidebar-width-mobile: calc(100vw - 64px);
  --sidebar-border-color: #dcd6ca;
  --sidebar-item-active-bg: #f1ece1;
}